UnityProjectD/Assets/ALP_Assets/Realistic Terrain Textures Lite/Textures/Ground001.tif
UnityProjectD/Assets/ALP_Assets/Realistic Terrain Textures Lite/Scenes/TerrainDATA/Terrain.asset
UnityProjectD/Assets/ALP_Assets/Realistic Terrain Textures Lite/Textures/Ground001_N.png
